version: '3'

volumes:
  pg_data:    # для PostgreSQL
  static:     # для статических файлов backend и frontend
  media:      # для медиафайлов пользователей

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    build: ./backend/
    env_file: .env
    command: >
      sh -c "python manage.py collectstatic --noinput &&
           python manage.py migrate &&
           gunicorn --bind 0.0.0.0:8000 kittygram_backend.wsgi"
    volumes:
      - static:/static
      - media:/media
  frontend:
    env_file: .env
    build: ./frontend/
    command: mkdir -p /static/frontend && cp -r /app/build/. /static/frontend/
    volumes:
      - static:/static
  gateway:
    build: ./nginx/
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/media
